.userPhoto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.selectedPage{
    font-weight: bold;
    padding:3px;
}
.pagination{
    margin: 10px;
}
.pageNumber{
    padding: 2px;
    /*//border:1px solid grey;*/
    margin: 2px;
    cursor: pointer;
}
.pageNumber.selectedPage{
    font-weight: bold;
    border-color: black;
}
button{
    margin:0 10px;

}
.pagi{

    list-style: none;
    display:inline-block;
    margin:0 5px;
    font-size: 24px;
}
.pagiA{
    color:black;
    opacity:0.9;
}
.pagi a:active{
    color:grey;
}
.activeLink{
    color:gray;
}




